#Data Science Tools and Ecosystem

##In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List data science languages
* List data science tools
* Exemplify aritmethic operations

##Author

Alix Guzm√°n

###Some of the popular languages that Data Scientists use are:

1. Phyton
2. R
3. SQL

###Some of the commonly used libraries used by Data Scientists include:

    1.Matplotlib
    2.SciPy
    3.Numpy

|Data Science Tools|
--------------------
|Rstudio|
|Apache Spark|
|TensorFlow|

###Below are a few examples of evaluating arithmetic expressions in Python.

    1. * - for multiplying values
    2. / - for division

This a simple arithmetic expression to mutiply then add integers:

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
Hours = 200/60
print(Hours)

3.3333333333333335